<div class="login container container-sm">
    <h2>New Task</h2>
    <form class="add-form">
        <div class="mb-3">
            <label for="task-title" class="form-label">Task:</label>
            <input type="text" class="form-control" id="task-title" placeholder="task">
        </div>
        <div class="mb-3">
            <label for="task-description" class="form-label">Description:</label>
            <textarea type="text" class="form-control" id="task-description" placeholder="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="date">Due Date:</label>
            <input type="date">
        </div>
        <div>
            <button type="submit" class="btn btn-warning" id="add-task">Add</button>
        </div>
    </form>
</div>

<script src="/js/addtask.js"></script>