{{!-- placeholder --}}

<div class="container text-center">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <img src="/images/cute-bee.png" class="rounded mx-auto d-block" alt="a cute bee">
    </div>
    <div class="col">
    </div>
  </div>
</div>
