<div class="login">
    <h2>Login:</h2>
    <form class="login-form">
        <div>
            <label for="username-login">Username:</label>
            <input type="text" id="username-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit" id="login-btn" class="button">Login</button>
            <a href="/signup" class="button">Signup</a>
        </div>
    </form>
</div>

<!-- javascript file-->
<script src="/js/login.js"></script>