<div class="signup">
    <h2>Sign Up:</h2>
    <form class="signup-form">
        <div>
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="email-signup">Password:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="text" id="password-signup" />
        </div>
        <div>
            <button type="submit" class="button">Sign Up</button>
        </div>
    </form>
</div>

<!-- javascript file-->
<script src="/js/signup.js"></script>