<div class="login container container-sm text-center">
    <h2>Sign Up:</h2>
    <form class="signup-form">
        <div class="mb-3">
            <label for="username-signup" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username-signup" placeholder="username">
        </div>
        <div class="mb-3">
            <label for="password-signup" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password-signup" placeholder="password">
        </div>
                <div class="mb-3">
            <label for="password-signup" class="form-label">Confirm Password:</label>
            <input type="password" class="form-control" id="confirm-password-signup" placeholder="confirm password">
        </div>
        <div class="mb-3">
            <label for="email-signup" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email-signup" placeholder="email">
        </div>
        <div>
            <p id="bad-login">placeholder</p>
            <button type="button" class="btn btn-warning" id="signup-btn">Sign Up</button>
        </div>
        
    </form>
</div>

<!-- javascript file-->
<script src="/js/signup.js"></script>