<div class="container container-sm mx-auto">
    <div class="task card" style="width: 18rem;">
        <div class="task card-body">
            <h2 class="task card-title">{{title}}</h2>
            <p class="task card-text">{{content}}</p>
            <h6 class="task card-subtitle mb-2 text-muted">Created on {{format_date date_created}}</h6>
        </div>
    </div>
</div>